# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [1]:
list = [1,2,3,4,5]
dummy_list = list
print(dummy_list)

[1, 2, 3, 4, 5]

2) print dummy_list

In [2]:
print(dummy_list)

[1, 2, 3, 4, 5]

3) Reverse dummy_list and print

In [3]:
def Reverse(dummy_list): 
	new_list = dummy_list[::-1] 
	return new_list 
	
dummy_list = [1,2,3,4,5] 
print(Reverse(dummy_list))

[5, 4, 3, 2, 1]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [0]:
#dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

In [5]:
dummy_list = [1,2,3,4,5]
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list = dummy_list + dummy_list_2
print(dummy_list)

[1, 2, 3, 4, 5, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [6]:
dummy_list = [1,2,3,4,5,2,200,16,4,1,0,9.45,45.67,90,12.01,12.02]

dummy_dict = {}

for i in range(len(dummy_list)):
  dummy_dict[dummy_list[i]] = dummy_list.count(dummy_list[i])
  print(dummy_dict)

{1: 2}
{1: 2, 2: 2}
{1: 2, 2: 2, 3: 1}
{1: 2, 2: 2, 3: 1, 4: 2}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1, 0: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1, 0: 1, 9.45: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1, 0: 1, 9.45: 1, 45.67: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1}
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

6) print dummy_dict

In [7]:
print(dummy_dict)

{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 200: 1, 16: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [8]:
dummy_list = [1,2,3,4,5,2,200,16,4,1,0,9.45,45.67,90,12.01,12.02]
dummy_list.sort()
print(dummy_list)

[0, 1, 1, 2, 2, 3, 4, 4, 5, 9.45, 12.01, 12.02, 16, 45.67, 90, 200]

In [9]:
dummy_list = [1,2,3,4,5,2,200,16,4,1,0,9.45,45.67,90,12.01,12.02]
dummy_list.sort(reverse=True)
print(dummy_list)

[200, 90, 45.67, 16, 12.02, 12.01, 9.45, 5, 4, 4, 3, 2, 2, 1, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [0]:
x = 200

# Let's play: try the same with something which is not in the list to get the ValueError

In [10]:
dummy_list = [1,2,3,4,5,2,200,16,4,1.0,9.5,45.67,90,12.01,12.02]
dummy_list.remove(6) # 5 is not in this list
print(dummy_list)

ValueError: ignored

9) Remove the item at position x. x is any random integer

In [11]:
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get
dummy_list.remove(15) #15 is not in this list
print(dummy_list)

ValueError: ignored

10) Let's clean everything clear the list and then print

In [12]:
dummy_list.clear()
print(dummy_list)

[]